.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
body {  
    margin: 0;
    background-color: #eff7ea;
    font-family: 'Encode Sans Condensed', sans-serif;
}
header{
   width: 100%;
   background-color: #77804f;
   position: fixed;
   z-index: 1;
}
header ul {
    margin: 0 auto;
    text-align: center;
}
#menu-item {
    text-transform: uppercase;
    display: inline-block;
    width: 150px;
    margin: 0 30px;
    padding: 30px 0;
}
#menu-item:hover {
    color: white;
    border-bottom: 3px solid white;
}
.about {
    max-width: 600px;
}
.welcome {
    background-color: #d8dfbb;
    box-sizing: border-box;
    padding: 40px;
    text-align: left;
    position: relative;
    top: 80px;
}
h1,
#name-link {
    color: #77804f;
    font-weight: 700; 
    text-transform: uppercase;
}
#name-link:hover,
a:hover {
    color: white;
}
h2 {
    color: #77804f;
}
div,
a,
td,
li {
    color: #122400;
    font-weight: 300;
    text-decoration: none;
}
table {
    border-spacing: 2px;
}
td{
    border-bottom: 1px gray solid;
    padding: 5px;
}
.img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
main {
    padding-top: 80px;    
}
#portfolio {
    margin-bottom: 30px;
}
.portfolio-items {
    display: flex;
    flex-flow: column;
}
.portfolio-items h4 {
    margin: 10px 0;
}

footer {
   background-color: #77804f;
   height: 100px;
   display: flex;
   font-size: 200%;
}
.footer-icons {
    margin: auto; 
}
.footer-icon{
    color: #d8dfbb;
    padding: 0 20px;
}
.footer-icon:hover {
    color: white; 
}